        body {
            background-color: rgb(253, 251, 251);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 16px;
            line-height: 25px;
        }
        
        #cabecalho {
            position: fixed;
            top: 0;
            background-color: skyblue;
            width: 100%;
            padding: 30px;
            border-bottom: solid 2px white;
            font-size: 20px;
            text-align: center;
            line-height: 20px;
        }
        
        #portfolio {
            text-decoration: none;
            color: yellow;
        }
        
        #titulo {
            color: white;
        }
        
        #minha_foto {
            margin-top: 180px;
            border-radius: 50%;
            border: 4px solid silver
        }
        
        table {
            text-align: center;
            border-collapse: collapse;
            margin-bottom: 15px;
            padding: 50px;
        }
        
        ol {
            margin-top: 50px;
        }
        
        td,
        th {
            border: 1px solid silver;
            text-align: center;
            padding: 10px;
        }
        
        .lado-esquerdo {
            float: left;
            width: 45%;
            padding: 10px;
        }
        
        .lado-direito {
            float: right;
            width: 45%;
            padding: 10px;
            margin-top: 10px;
        }
        
        ol {
            clear: both;
        }